<h1>Welcome</h1>

<p>
  Welcome to the ng-conf 2016 Lightning Talk application. This application is for attendees only 
  of ng-conf 2016. Here you can both submit to give a lightning talk, and also vote on
  talks that others have submitted. Talks are anywhere from 2 to 30 minutes long and will
  be held on Thursday May 5th.
</p>

<p>
  Log in with the email address you used to register for your ng-conf ticket. 
  No password is required. If you need any help, email info@ng-conf.org for support, 
  with the subject "lightning talks".
</p>
<hr>

<h3>Login</h3>
<form class="form">
  <div class="row">
    <div class="form-group col-sm-6">
      <input type="text" placeholder="Email Address" ng-model="$ctrl.email" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <button class="btn btn-primary" ng-click="$ctrl.login()">Login</button>
    </div>
  </div>
</form>

<br><br>
<div class="alert alert-danger" ng-show="!!$ctrl.errorMessage">{{errorMessage}}</div>